# Travis CI logs in to Docker and Heroku
# builds the Docker image, pushes it to Docker Hub
# deploys the image on Heroku

language: python
sudo: true

python:
  - "3.6"

services:
  - docker

before_script:
  - echo $DOCKER_HUB_PASSWORD | docker login -u $DOCKER_HUB_USERNAME --password-stdin
  - curl https://cli-assets.heroku.com/install.sh | sh
  # https://devcenter.heroku.com/articles/container-registry-and-runtime
  # logging in to the Heroku registry:
  - docker login --username=$HEROKU_LOGIN --password=$HEROKU_API_KEY registry.heroku.com

script:
  - docker build -t robertbozsik/iris-cicd-heroku:latest .
  - docker tag robertbozsik/iris-cicd-heroku:latest registry.heroku.com/iris-cicd/web

deploy:
  provider: script
  skip-cleanup: true
  script:
    - docker push robertbozsik/iris-cicd-heroku:latest;
    - docker push registry.heroku.com/iris-cicd/web;
    - heroku container:release web --app iris-cicd
  on:
    branch: main
